<div class="container">
  <form *ngIf="loggedUserUsername" [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
    <div class="container">
      <h1>Оставете отзив!</h1>
      <hr>
      <input type="text" formControlName="feedbackText" required>
      <button type="submit">Публикувай</button>
    </div>


  </form>
  <div>
  <ul *ngIf="feedback">
    <div class="bubble-wrapper">
      <br>
    <li *ngFor="let f of feedback" class="bubble">{{f.email}} said: {{f.text}}</li>
    <br>
  </div>
  </ul>
  </div>


</div>