.alert{
    color:red
 }

.commentContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border-bottom: 1px solid gray;
    }
    
  
    .username { grid-area: 1 / 1 / 2 / 2;}
    .text { grid-area: 1 / 2 / 2 / 5; }
    .buttonWrap { grid-area: 1 / 5 / 2 / 6; }

    .deleteButton{
        font-size: 1em; /* Let's say this computes to 16px */
        padding: 0.625em 1em; /* 0.1875 * 16 = 10px */
        border-radius: 0.1875em; /* 0.1875 * 16 = 3px */
        margin: 1%;;
        float: right;
        color: white;
       background-color: #4CAF50;
    } 
    .updateButton{
        font-size: 1em; /* Let's say this computes to 16px */
        padding: 0.625em 1em; /* 0.1875 * 16 = 10px */
        border-radius: 0.1875em; /* 0.1875 * 16 = 3px */
        margin: 1%;;
        float: right;
        color: white;
       background-color: #4CAF50;
    } 
    
    
    button:hover{
        opacity: 0.7;
    }

    .editingMode{
  background-color: gray;
    }





