<div class="container">
  <form *ngIf="loggedUserUsername" [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
    <div class="container">
      <h1>Оставете отзив!</h1>
      <hr>
      <input type="text" formControlName="feedbackText" required>

      <ng-container *ngIf="checkoutForm.get('feedbackText')?.touched">
        <p *ngIf="checkoutForm.get('feedbackText')?.errors?.required" class="alert">
          Не можете да изпратите празен коментар!
        </p>
        <p *ngIf="checkoutForm.get('feedbackText')?.errors?.minlength" class="alert">
          Текстът трябва да е поне три символа!
        </p>
      </ng-container>
      <button type="submit">Публикувай</button>
    </div>



  </form>


    <div class="comment">

      <!-- Comment info (author, # of votes, time added) start -->
      <div *ngIf="feedback">
        <div *ngFor="let f of feedback" class="commentContainer">
               <p class="username">{{f.username}}🎲: </p>
                  <p class="text">{{f.text}}</p>
          <ng-container *ngIf="f.username===loggedUserUsername">
            <div class="buttonWrap">
            <button class="deleteButton" (click)="onDelete(f._id)">x</button>
            </div>
          </ng-container>
     
        </div>
      </div>
    </div>





</div>