<div class="container">
    <h1>Няколко думи за хазарната зависимост</h1>
    <hr>

    <p>
        • Всеки трети до пети човек на всеки 100 души страда от някаква форма на хазартна зависимост.<br>
        • Средно 50% от хазартно зависимите извършват престъпления, за да поддържат зависимостта си.<br>
        • Статистиките сочат, че най-голям брой от хазартно зависимите са във възрастта между 20 и 30 години.<br>
        • 75% от студентите участват или са участвали в хазартни дейности.<br>
        • Рискът от развиване на хазартна зависимост се удвоява при младежи, които учат в университет.<br>
        • Някои данни сочат, че тийнейджърите са по-податливи на пристрастявания към хазарта, защото мозъкът им все още
        се развива, което може да направи пристрастяването още по-тежко. <br>
        • Приблизително една трета от възрастните комарджии на лечение споделят, че са започнали да залагат, когато са
        били на възраст между 11 и 17 години, което предполага връзка между ранния хазарт и появата на зависимост.<br>
        • Ако не залагаш често, това не означава, че нямаш проблеми с хазарта. Хазарта е проблем, когато създава
        проблеми в живота на хората.<br>
        • Не е вярно, че хазартните проблеми засягат хора, които не са интелигентни или имат слаба воля - всеки може да
        развие хазартна зависимост.<br>
        • Ако решите да заемете пари на хазартно зависим, за да си погаси дълговете, то най-вероятно подклаждате порока
        му и влошавате проблемите му.<br>
        • Дори човек да няма финансови загуби, пак може да страда от хазартна зависимост, която да се проявява чрез
        проблеми в междучовешките отношения.<br>
        • Хазартно зависимите се чувстват щастливи когато играя, бе значение дали печелят или губят. Мозъкът при хората
        сред патологичните случаи отделя същите химикали, които се отделят и след употребата на наркотици.<br>
        • Хората, които се борят с хазартна зависимост са по-податливи на психологични разстройства като безпокойство,
        депресия, употреба на опасни вещества и антисоциално поведение. <br>
        • Също така хазартът често се използва като механизъм за справяне, начин за бягство от стреса и разочарованията
        от живота или за облекчаване на скуката или самотата, което създава един омагьосан кръг.<br>
        При алкохолиците има 23-пъти по висок шанс за развитие на хазартна зависимост отколкото при останалите хора.<br>
    </p>


    <h2>Как да разпознаваме признаците на хазартната зависимост сред младежите?</h2>

    <p>Въпреки че тийнейджърите могат да проявяват различни признаци на пристрастяване, в сравнение с възрастните
        комарджии, има някои предупредителни знаци, за които трябва да внимавате, ако подозирате, че тийнейджъръта е
        придобил хазартния навик:</p>

    <h3>Промени във финансовото състояние:</h3>


    • Заемане на пари от различни хора<br>
    • Необясними притоци на пари <br>
    • Продажба на лични вещи <br>
    • Тайна по отношение на финансите<br>


    <h3>Промени в поведението:<br></h3>


    • Нестабилен сън <br>
    • Сърдитост, раздразнение<br>
    • Депресия и безпокойство <br>
    • Понижена енергичност<br>



    <h3>Промени в ежедневието:</h3>


    • Лоши оценки в училище и проблемно присъствие <br>
    • Промяна на приятелски кръгове или изолация<br>
    • Засилен интерес към свързани с хазарта дейности <br>
    • Проблеми със закона<br>


    <p>Всяка една зависимост оказва негативно влияние върху личността. При зависимостите с алкохол и наркотици,
        основните виновници са опасните вещества, които постепенно подриват психиката и самоконтрола на човек. При
        хазартната зависимост обаче опасността в никакъв случай не е по-малка. Дори и хазартната дейност да не е
        съпътствана с допълнителна зависимост към опасни вещества, тя може дълго време да съществува като проблем, без
        околните да си дават сметка за това. Проблемът с хазарта е, че той влияе точно толкова силно на психиката и
        когато комарджиите загубят способността си за самоконтрол и реална оценка на положение, те имат нужда от
        специализирана помощ, защото "играта" се превръща в неосъзната фикс идея и цел.</p>
    <p>Всъщност хазартната зависимост вече се отъждествява с алкохолната или наркотичната такава. С нарастването на
        онлайн хазартните сайтове и лесната достъпност до тях чрез мобилните устройства, все повече тийнейджъри са
        изложени на хазартните изкушения. Те могат да залагат от уюта на стаята си, без да се налага да показват никакви
        доказателства за възраст. </p>
    <p>Скорошни проучвания сред младежи под 18 години показват, че повече от 40% от тях са залагали - обикновено на
        футбол, карти или видео игри. Понякога тези ранни опити в хазарта могат да доведат до пълна хазартна зависимост.
        Световните учени и психолози имат дългогодишен опит в работата с тийнейджъри и техните семейства, а това ни
        помага да разберем поведението, което може да лежи в основата на хазартния проблем и да се намери начин за
        преодоляване на тази зависимост.</p>
    <p>Създадохме тази книга-игра, за да ви покажем, чрез историята в нея, как хазартната зависимост влияе на живота на
        попадналите в нейния капан и техните близки, а също и какви биха били последствията от вземаните решения.
        История, която в този момент може би се случва някъде близо до вас...</p>
</div>