<div class="mainNav">
    <ul>
<li><a routerLink="/home">Home</a></li>
<li><a routerLink="/game">Game</a></li>
<li><a routerLink="/feedback">feedback</a></li>
<li><a routerLink="/about">About</a></li>
</ul>
<ul>
    <li *ngIf="loggedUser"><a routerLink="/profile">Profile</a></li>
    
    <li *ngIf="!loggedUser"><a routerLink="/login">Login</a></li>
    <li *ngIf="!loggedUser"><a routerLink="/register">Register</a></li>
    <button *ngIf="loggedUser" (click)="onLogout()">Logout</button>
    
    </ul>
</div>


