<div class="topnav">
    <ul>
<a routerLink="/home">Начало</a>
<a routerLink="/game/0">Играй</a>
<a routerLink="/feedback">Отзиви</a>
<a routerLink="/about">За сайта</a>
</ul>
<div class="topnav-right">
    <span *ngIf="loggedUser"><a routerLink="/profile">Профил</a></span>
    <span *ngIf="loggedUser"><a [routerLink]="" (click)="onLogout()">Logout</a></span>
    
    <span *ngIf="!loggedUser"><a routerLink="/login">Логин</a></span>
    <span *ngIf="!loggedUser"><a routerLink="/register">Регистрация</a></span>   
    
</div>
</div>


