
<div class="container">
    <ng-container *ngIf="chapter">
    <h1 class="chapterNumber">{{chapter.chNumber}}</h1>
    <p>{{chapter.text}}</p>
    <ul *ngIf="chapter.choices">
        <li *ngFor="let c of chapter.choices"><a routerLink="/game/{{c.choiceNumber}}">🎲 {{c.choiceText}}</a></li>
    </ul>

    <button *ngIf="username" (click)="save(); notif()">Запази прогреса</button>
    <div *ngIf="notificationVisible" class="notif">
        <p>Прогресът беше запазен</p>
        </div>
    </ng-container>
</div>