.container{
    margin: 8%;
    padding: 2%;
}

.profilePic{
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   height: fit-content;
    margin: 8%;
    padding: 2%;
    margin: auto;
    text-align: justify;
    font-family: arial;
    border-radius: 4px;
  }
  .email {
    color: grey;
    font-size: 18px;
  }

  button:hover, a:hover {
    opacity: 0.7;
  }

  a{
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
    