footer {
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    justify-content: center;
    /* Height of the footer*/ 
    color:white;
    height: 40px;
    background-color: #4CAF50;
    text-align: center;
    border:1px solid gray;
}


footer span {
    font-size: 1.5em;
}