<div class="container">
  <div class="container signin">
    <button>Вече имате профил? <a routerLink="/login">Логин</a></button>
  </div>

<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
  
    <div class="container">
      <h1>Регистрация</h1>
      <p>Попълнете полетата за да създадете профил.</p>
      <hr>
  
      <label for="username"><b>Потребителско име</b></label>
      <input type="text" placeholder="enter username" name="username" id="username" formControlName="username" required>

      <ng-container *ngIf="checkoutForm.get('username')?.touched">
        <p *ngIf="checkoutForm.get('username')?.errors?.required" class="error">
          Потребителското име е задължително
        </p>
        <p *ngIf="checkoutForm.get('username')?.errors?.minlength" class="error">
          Потребителското име трябва да е повече от три символа
        </p>
      </ng-container>

      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" id="email" formControlName="email" required>
  
      <label for="psw"><b>Парола</b></label>
      <input type="password" placeholder="Enter Password" name="psw" id="psw" formControlName="password" required>
  
      <label for="psw-repeat"><b>Повторете паролата</b></label>
      <input type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" formControlName="rePassword" required>
      <hr>
      
  
      <button type="submit">Регистрация</button>
    </div>
    
  
  </form>

</div>